@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Using a class for base styles in React Native / NativeWind */
  .base-styles {
    background-color: #fdfcf8;
    color: #1a1a1a;
    font-family: 'Montserrat', sans-serif;
  }
}
